<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新增文章</title>
    <link rel="icon" th:href="@{/admin/favicon.ico}" type="image/ico">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/editormd/css/editormd.css}" rel="stylesheet"/>
    <style>
        /**
        解决冲突的样式宽度
         */
        .editormd-menu > li.divider {
            width: auto;
        }
    </style>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--
        侧边栏
        -->
        <div th:insert="@{admin/leftSide} :: LeftSide(active='article')">
        </div>

        <!--
        顶部头部
        -->
        <div th:insert="@{admin/header} :: Header">
        </div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-header">
                                <h3>新增博客</h3>
                            </div>

                            <div class="card-body">
                                <hr>
                                <form id="newArticle" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="category">选择分类</label>
                                                <select id="category" class="form-control" name="category">
                                                    <option th:each="category:${categories}" th:value="${category.name}"
                                                            th:text="${category.name}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="tags">请输入标签，使用英文逗号分割</label>
                                                <input type="text" name="tags" class="form-control" id="tags">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="title">文章标题</label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>文章状态</label>
                                                </p>

                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="status" value="1"><span>发布</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="status" value="0"><span>草稿</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>是否置顶</label>
                                                </p>
                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="isTop" value="1"><span>置顶</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="isTop" value="0"><span>不置顶</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>是否推荐</label>
                                                </p>

                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="isRecommend" value="1"><span>推荐</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="isRecommend" value="0"><span>非推荐</span>
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="introduce">文章简介</label>
                                                <textarea name="introduce" id="introduce" class="form-control" cols="50"
                                                          rows="4"
                                                          placeholder="请输入文章简介"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="coverImage">请上传封面图</label>
                                                <input type="file" id="coverImage" name="coverImage"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div id="md-content">
                                                    <textarea placeholder="博客内容" class="form-control" name="content"
                                                              style="display:none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="addArticle">保存</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" th:src="@{/admin/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/main.min.js}"></script>
<script type="text/javascript" th:src="@{/editormd/editormd.min.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript" type="text/javascript">
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    // 初始化MarkDown编辑器
    let contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%", // 宽度
            height: 640, // 高度
            syncScrolling: "single", // 是否单向滚动
            path: contextPath + "/editormd/lib/", // 插件路径，如果是多级路径记得加好上下文路径
            placeholder: "写点什么", // 提示信息
            watch: false, // 是否开启预览
            tex: true, // 开启数学公式
            flowChart: true, // 开启流程图支持
            sequenceDiagram: true, // 开启时序图支持
            saveHTMLToTextarea: true, // 保存HTML到textarea
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: contextPath + "/admin/article/upload",
            onload: function () {
                initPasteDragImg(this);
            }
        });
        // 固定工具栏
        contentEditor.setToolbarAutoFixed(true);
    });

    /**
     * 初始化粘贴图片函数
     * @param Editor
     */
    function initPasteDragImg(Editor) {
        let doc = document.getElementById(Editor.id);
        doc.addEventListener('paste', function (event) {
            let items = (event.clipboardData || window.clipboardData).items;
            let file = null;
            if (items && items.length) {
                // 搜索剪切板items
                for (let i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile();
                        break;
                    }
                }
            } else {
                Swal.fire({
                    title: "当前浏览器不支持",
                    icon: "error"
                })
                return;
            }
            if (!file) {
                Swal.fire({
                    title: "粘贴内容非图片",
                    icon: "error"
                });
                return;
            }
            uploadImg(file, Editor);
        });
        let dashboard = document.getElementById(Editor.id);
        dashboard.addEventListener("dragover", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("dragenter", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("drop", function (e) {
            e.preventDefault()
            e.stopPropagation()
            let files = this.files || e.dataTransfer.files;
            uploadImg(files[0], Editor);
        })
    }

    function uploadImg(file, Editor) {
        let formData = new FormData();
        let fileName = new Date().getTime() + "." + file.name.split(".").pop();
        formData.append('editormd-image-file', file, fileName);
        $.ajax({
            url: Editor.settings.imageUploadURL,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (data) {
                let code = data.code
                if (200 === code) {
                    Swal.fire({
                        title: data.message,
                        icon: "success"
                    })
                    let url = data.data
                    console.log(data);
                    if (/\.(png|jpg|jpeg|gif|bmp|ico)$/.test(url)) {
                        Editor.insertValue("![](" + url + ")");
                    } else {
                        Editor.insertValue("[下载附件](" + url + ")");
                    }
                } else {
                    Swal.fire({
                        title: data.message,
                        icon: "error"
                    })
                }
            }
        });
    }

    $('#addArticle').click(function () {
        let article = document.getElementById("newArticle");
        let formData = new FormData(article);
        $.ajax({
            url: contextPath + "/admin/article/add",
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code === 200) {
                    Swal.fire({
                        title: data.message,
                        icon: "success"
                    })
                    window.location.href = contextPath + "/admin/articles";
                } else {
                    Swal.fire({
                        title: data.message,
                        icon: "error"
                    })
                }
            }
        })
    });

</script>
</body>
</html>