<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="admin/_fragments :: adminHead(~{::title})">
    <title>编辑文章</title>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--
        侧边栏
        -->
        <div th:insert="@{admin/leftSide} :: LeftSide(active='article')">
        </div>

        <!--
        顶部头部
        -->
        <div th:insert="@{admin/header} :: Header">
        </div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-header">
                                <h3>编辑文章</h3>
                            </div>

                            <div class="card-body">
                                <hr>
                                <form id="editArticle" enctype="multipart/form-data">

                                    <!-- 隐藏ID属性 -->
                                    <input type="hidden" th:value="${editArticle.id}" name="id">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="category">选择分类</label>
                                                <select id="category" class="form-control" name="categoryId">
                                                    <option th:each="category:${categories}" th:value="${category.id}"
                                                            th:selected="${editArticle.categoryId} == ${category.id}"
                                                            th:text="${category.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="existTags">从已知标签列表中选择</label>
                                                <select class="form-control" id="existTags" name="existTags"
                                                        size="3" multiple>
                                                    <option th:each="tag: ${tagVOS}" th:value="${tag.id}"
                                                            th:text="${tag.name}" th:selected="${tag.Selected} == true"
                                                            name="existTags"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="newTags">在此输入新的标签，会进行创建</label>
                                                <input type="text" name="newTags" class="form-control" id="newTags">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="title">文章标题</label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                       th:value="${editArticle.title}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>文章状态</label>
                                                </p>
                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="status" value="1"
                                                           id="publish"><span>发布</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="status" value="0"
                                                           id="draft"><span>草稿</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>是否置顶</label>
                                                </p>
                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="isTop" value="1" id="Top"><span>置顶</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="isTop" value="0"
                                                           id="noTop"><span>不置顶</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p class="m-t-10"><label>是否推荐</label>
                                                </p>
                                                <label class="lyear-radio radio-inline radio-success">
                                                    <input type="radio" name="isRecommend" value="1"
                                                           id="Recommend"><span>推荐</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-grey">
                                                    <input type="radio" name="isRecommend" value="0"
                                                           id="noRecommend"><span>非推荐</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="introduce">文章简介</label>
                                                <textarea name="introduce" id="introduce" class="form-control" cols="50"
                                                          rows="4"
                                                          placeholder="请输入文章简介"
                                                          th:text="${editArticle.introduce}"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="coverImage">请上传封面图</label>
                                                <input type="file" id="coverImage" name="coverImage"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="cover" th:value="${editArticle.cover}">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div id="md-content">
                                                    <textarea placeholder="博客内容" class="form-control" name="content"
                                                              style="display:none;"
                                                              th:text="${editArticle.content}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="saveArticle">保存</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--/*/<th:block th:replace="admin/_fragments :: adminScript">/*/-->
<!--/*/</th:block>/*/-->
<script type="text/javascript" th:inline="javascript">
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    // 初始化MarkDown编辑器
    let contentEditor;
    setIsTopAndIsRecommend();

    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%", // 宽度
            height: 640, // 高度
            syncScrolling: "single", // 是否单向滚动
            path: contextPath + "/editormd/lib/", // 插件路径，如果是多级路径记得加好上下文路径
            placeholder: "写点什么", // 提示信息
            watch: false, // 是否开启预览
            tex: true, // 开启数学公式
            flowChart: true, // 开启流程图支持
            sequenceDiagram: true, // 开启时序图支持
            saveHTMLToTextarea: true, // 保存HTML到textarea
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: contextPath + "/admin/article/upload",
            onload: function () {
                initPasteDragImg(this);
            }
        });
        // 固定工具栏
        contentEditor.setToolbarAutoFixed(true);
    });

    function setIsTopAndIsRecommend() {
        // Get Article From thymeleaf variable
        let article =  /*[[${editArticle}]]*/ "";
        if (article.status) {
            $('#publish').prop("checked", true);
        } else {
            $('#draft').prop("checked", true);
        }

        if (article.isTop) {
            $('#Top').prop("checked", true);
        } else {
            $('#noTop').prop("checked", true);
        }

        if (article.isRecommend) {
            $('#Recommend').prop("checked", true);
        } else {
            $('#noRecommend').prop("checked", true);
        }
    }

    /**
     * 初始化粘贴图片函数
     * @param Editor
     */
    function initPasteDragImg(Editor) {
        let doc = document.getElementById(Editor.id);
        doc.addEventListener('paste', function (event) {
            let items = (event.clipboardData || window.clipboardData).items;
            let file = null;
            if (items && items.length) {
                // 搜索剪切板items
                for (let i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile();
                        break;
                    }
                }
            } else {
                console.log("当前浏览器不支持");
                return;
            }
            if (!file) {
                console.log("粘贴内容非图片");
            }
            uploadImg(file, Editor);
        });
        var dashboard = document.getElementById(Editor.id)
        dashboard.addEventListener("dragover", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("dragenter", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("drop", function (e) {
            e.preventDefault()
            e.stopPropagation()
            var files = this.files || e.dataTransfer.files;
            uploadImg(files[0], Editor);
        })
    }

    function uploadImg(file, Editor) {
        let formData = new FormData();
        let fileName = new Date().getTime() + "." + file.name.split(".").pop();
        formData.append('editormd-image-file', file, fileName);
        $.ajax({
            url: Editor.settings.imageUploadURL,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (data) {
                let code = data.code
                if (200 === code) {
                    Swal.fire({
                        title: data.message,
                        icon: "success"
                    })
                    let url = data.data
                    console.log(data);
                    if (/\.(png|jpg|jpeg|gif|bmp|ico)$/.test(url)) {
                        Editor.insertValue("![](" + url + ")");
                    } else {
                        Editor.insertValue("[下载附件](" + url + ")");
                    }
                } else {
                    Swal.fire({
                        title: data.message,
                        icon: "error"
                    })
                }
            }
        });
    }

    $('#saveArticle').click(function () {
        let article = document.getElementById("editArticle");
        let formData = new FormData(article);
        $.ajax({
            url: contextPath + "/admin/article/edit/",
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code === 200) {
                    Swal.fire({
                        title: data.message,
                        icon: "success"
                    })
                    window.location.href = contextPath + "/admin/article";
                } else {
                    Swal.fire({
                        title: data.message,
                        icon: "error"
                    })
                }
            }
        })
    })
</script>
</body>
</html>