<!DOCTYPE html>
<!--管理博客后台头部部分-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:fragment="adminHead(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:replace="${title}">个人博客</title>
    <link rel="icon" th:href="@{/icon.png}" type="image/ico">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/editormd/css/editormd.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
    <style>
        /**
        解决冲突的样式宽度
         */
        .editormd-menu > li.divider {
            width: auto;
        }
    </style>
</head>
<body>

<!--管理后台脚本部分-->
<th:block th:fragment="adminScript">
    <script type="text/javascript" th:src="@{/admin/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" th:src="@{/admin/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/main.min.js}"></script>
    <script type="text/javascript" th:src="@{/editormd/editormd.min.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</th:block>
</body>
</html>