<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>修改密码-博客后台</title>
    <link rel="icon" href="favicon.ico" th:href="@{/admin/favicon.ico}" type="image/ico">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
</head>


<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--
        侧边栏
        -->
        <div th:insert="@{admin/leftSide} :: LeftSide(active='')">

        </div>

        <!--
        顶部头部
        -->
        <div th:insert="@{admin/header} :: Header">

        </div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form method="post" class="site-form" id="passwordForm">
                                    <div class="form-group">
                                        <label for="old-password">旧密码</label>
                                        <input type="password" class="form-control" name="oldPassword" id="old-password"
                                               placeholder="输入账号的原登录密码">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password">新密码</label>
                                        <input type="password" class="form-control" name="newPassword" id="new-password"
                                               placeholder="输入新的密码">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm-password">确认新密码</label>
                                        <input type="password" class="form-control" name="ReNewPassword"
                                               id="confirm-password" placeholder="请再次输入密码">
                                    </div>
                                    <button type="button" class="btn btn-primary" id="update">修改密码</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script type="text/javascript" th:src="@{/admin/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/main.min.js}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.js"></script>
<script th:inline="javascript" type="text/javascript">
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    $('#update').click(function () {
        $.ajax({
            async: true,
            type: "POST",
            url: contextPath + "/admin/password",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: $('#passwordForm').serialize(),
            success: function (data) {
                if (data.code === 200) {
                    Swal.fire({
                        title: data.message,
                        icon: 'success'
                    });
                    setTimeout(function () {
                    }, 1000);
                    window.location.href = contextPath + "/admin/logout";
                } else {
                    Swal.fire({
                        title: data.message,
                        icon: 'error'
                    });
                    $('#passwordForm').trigger("reset");
                }
            }

        })
    });
</script>
</body>
</html>