<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<div th:fragment="LeftSide(active)">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

        <!-- logo -->
        <div id="logo" class="sidebar-header">
            <a th:href="@{/admin/index}">
                <div class="card">
                    <div class="card-body">
                        <p class="h4">博客后台管理系统</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="lyear-layout-sidebar-scroll">

            <nav class="sidebar-main">
                <ul class="nav nav-drawer">
                    <li th:class="${active == 'index' ? 'nav-item active' : 'nav-item'}"><a th:href="@{/admin/index}"><i
                            class="mdi mdi-home"></i> 博客后台</a></li>


                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 评论</a>
                        <ul class="nav nav-subnav">
                            <li><a href="lyear_forms_elements.html">基本元素</a></li>
                            <li><a href="lyear_forms_radio.html">单选框</a></li>
                            <li><a href="lyear_forms_checkbox.html">复选框</a></li>
                            <li><a href="lyear_forms_switch.html">开关</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 友链</a>
                        <ul class="nav nav-subnav">
                            <li class="active"><a href="lyear_pages_doc.html">文档列表</a></li>
                            <li><a href="lyear_pages_gallery.html">图库列表</a></li>
                            <li><a href="lyear_pages_config.html">网站配置</a></li>
                            <li><a href="lyear_pages_rabc.html">设置权限</a></li>
                        </ul>
                    </li>


                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 文章</a>
                        <ul class="nav nav-subnav">
                            <li><a th:href="@{/admin/article/add}">新增文章</a></li>
                        </ul>
                        <ul class="nav nav-subnav">
                            <li><a th:href="@{/admin/articles}">文章列表</a></li>
                        </ul>

                    </li>

                    <li th:class="${active == 'message' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/message}"><i class="mdi mdi-message "></i>留言管理</a>
                    </li>


                    <li th:class="${active == 'category' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/category}"><i class="mdi mdi-tag-text-outline "></i>分类管理</a>
                    </li>

                    <li th:class="${active == 'tag' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/tag}"><i class="mdi mdi-tag "></i>标签管理</a>
                    </li>

                    <li th:class="${active == 'link' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/links}"><i class="mdi mdi-link-variant"></i> 友情管理</a>
                    </li>
                </ul>
            </nav>

            <div class="sidebar-footer">
                <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="http://lyear.itshubao.com">IT书包</a>
                    All
                    rights reserved.</p>
            </div>
        </div>

    </aside>
    <!--End 左侧导航-->
</div>

</body>
</html>