<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title th:text="${session.nickName}"></title>
</head>
<body>

<div th:fragment="LeftSide(active)">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

        <!-- logo -->
        <div id="logo" class="sidebar-header">
            <a th:href="@{/admin/index}">
                <div class="card">
                    <div class="card-body">
                        <p class="h4">博客后台管理系统</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="lyear-layout-sidebar-scroll">

            <nav class="sidebar-main">
                <ul class="nav nav-drawer">
                    <li th:class="${active == 'index' ? 'nav-item active' : 'nav-item'}"><a th:href="@{/admin/index}"><i
                            class="mdi mdi-home"></i> 博客后台</a></li>


                    <li th:class="${active == 'comment' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/comment}"><i class="mdi mdi-format-align-justify"></i> 评论管理</a>
                    </li>

                    <li class="nav-item nav-item-has-subnav"
                        th:class="${active == 'article' ? 'nav-item nav-item-has-subnav active' : 'nav-item nav-item-has-subnav'}">
                        <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>文章管理</a>
                        <ul class="nav nav-subnav">
                            <li><a th:href="@{/admin/article/add}">新增文章</a></li>
                        </ul>
                        <ul class="nav nav-subnav">
                            <li><a th:href="@{/admin/article}">文章列表</a></li>
                        </ul>

                    </li>

                    <li th:class="${active == 'message' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/message}"><i class="mdi mdi-message "></i>留言管理</a>
                    </li>


                    <li th:class="${active == 'category' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/category}"><i class="mdi mdi-tag-text-outline "></i>分类管理</a>
                    </li>

                    <li th:class="${active == 'tag' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/tag}"><i class="mdi mdi-tag "></i>标签管理</a>
                    </li>

                    <li th:class="${active == 'link' ? 'nav-item active' : 'nav-item'}">
                        <a th:href="@{/admin/link}"><i class="mdi mdi-link-variant"></i> 友情管理</a>
                    </li>
                </ul>
            </nav>

            <div class="sidebar-footer">
                <p class="copyright">Copyright &copy; 2021. <a target="_blank" href="http://localhost:8080">root2z</a>
                    All rights reserved.</p>
            </div>
        </div>

    </aside>
    <!--End 左侧导航-->
</div>

</body>
</html>