<!DOCTYPE HTML>
<html class="no-js" lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/_fragments :: head(~{::title})">
    <title>友情链接</title>
</head>
<body class="home-template">
<nav class="main-navigation" th:replace="blog/_fragments :: navigation('friends')">
</nav>

<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article id="2" class="post">
                    <header class="post-head">
                        <h1 class="post-title">友链</h1>
                        <section class="post-meta"></section>
                        <div class="post-border"></div>
                    </header>

                    <section class="post-content">
                        <div>
                            <img src="https://buckets-me.oss-cn-beijing.aliyuncs.com/wallhaven-n673pw.png" alt="">
                        </div>
                        <div>
                            <h4>本站信息</h4>
                            <h4>站名：DedSec's Blog</h4>
                            <h4>站长名字：DedSec</h4>
                            <h4>链接：https://127.0.0.1:8080</h4>
                            <h4>头像： <img style="width: 50px; height: 50px; border-radius: 10px;"
                                         src="https://p3-tt-ipv6.byteimg.com/origin/pgc-image/10d1842054d0455d894e5289d3d81c91"
                                         alt=""></h4>
                            <h4>简介：起风了!</h4>
                        </div>
                        <p></p>
                        <div>
                            <span>本站接受任何朋友进行互相友链，添加本站后，在下方留言，博主收到你的留言后，会在后台进行添加，谢谢 :)</span>
                        </div>

                    </section>
                    <footer class="post-footer clearfix"></footer>
                </article>

                <div class="friends clearfix">
                    <h4>友链列表</h4>
                    <hr style="height: 10px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-t-10 friend" th:each="friend : ${friends}">
                            <!-- 头像 -->
                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3 avatar">
                                <a href="" th:href="${friend.url}">
                                    <img th:src="@{${friend.getAvatar()}}"  alt="">
                                </a>
                            </div>
                            <!-- 右侧部分 -->
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 info">
                                <a class="title" th:text="${friend.getName()}">水月无证</a>
                                <div>
                                    <span th:text="${friend.getDescription()}">一个以分享音乐，为摘抄文字为主的博客</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="about-author clearfix">
                    <div id="comments">
                        <h4>已有 <span th:text="${messageCount}"></span> 条评论</h4>

                        <ol class="comment-list">
                            <li id="comment-463" class="comment-body comment-parent comment-even"
                                th:each="message: ${messages}">
                                <div class="comment-author">
                                    <span itemprop="image">
                                        <img class="avatar" th:src="@{${message.avatar}}"
                                             alt="雨中执笔" width="32" height="32"></span>
                                    <span th:text="${message.author}"></span>
                                </div>

                                <div class="comment-meta">
                                    <span th:text="${#dates.format(message.createTime, 'yyyy-MM-dd HH:mm')}">
                                    </span>

                                    <a th:attr="data-commentid=${message.id},data-commentnickname=${message.author}"
                                       onclick="reply(this)">回复</a>
                                </div>

                                <div class="comment-content"
                                     style="margin:20px 0 20px 0; border-bottom: #00c4ff solid 2px;"
                                     itemprop="commentText" th:text="${message.content}">
                                </div>

                                <!-- 子回复集合 -->
                                <div class="comment-children" itemprop="discusses">
                                    <ol class="comment-list">
                                        <li id="comment-465" th:each="reply : ${message.replyMessages}"
                                            class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                            <div class="comment-author">
                                                <span itemprop="image">
                                                    <img class="avatar" th:src="@{${reply.avatar}}"
                                                         alt="dingzd" width="32" height="32"></span>
                                                <span th:text="${reply.author}"></span>&nbsp;
                                                <span th:text="|@ ${reply.parentNickname}|" style="color: #00c4ff">@
                                                        </span>
                                            </div>
                                            <!-- 评论元数据 -->
                                            <div class="comment-meta">
                                                <span th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}"
                                                      th:datetime="${reply.createTime}">
                                                </span>
                                                <a th:attr="data-commentid=${reply.id},data-commentnickname=${reply.author}"
                                                   onclick="reply(this)">回复</a>
                                            </div>

                                            <!-- 评论主题 -->
                                            <div th:text="${reply.content}" class="comment-content"
                                                 style="margin: 20px 0 20px 0; border-bottom: #00c4ff solid 2px;"
                                                 itemprop="commentText">
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                        </ol>


                        <div id="respond-page-2" class="respond">
                            <h3 id="response" class="addco">添加留言</h3>
                            <form id="comment-form"
                                  role="form">
                                <div class="form-group" id="message">
                                    <div class="form-group">
                                        <div class="" id="showMessage"></div>
                                    </div>
                                </div>
                                <input type="hidden" name="parentId" value="-1">

                                <div class="form-group has-feedback feedback-left">
                                    <input type="text" name="author" placeholder="昵称（必填）" id="author"
                                           class="text form-control" value="" required/>
                                </div>
                                <div class="form-group has-feedback feedback-left">
                                    <input type="email" name="email" id="email" placeholder="邮件（必填）"
                                           class="text form-control" value="" required/>
                                </div>
                                <div class="form-group has-feedback feedback-left">
                                    <input type="url" name="avatar" id="avatar" class="text form-control"
                                           placeholder="(头像，非必填，可以随机生成)" value=""/>
                                </div>
                                <div class="form-group has-feedback feedback-left">
                                    <textarea rows="8" cols="50" name="content" id="content"
                                              class="textarea form-control"
                                              placeholder="留下您伟大的看法......" required></textarea>
                                </div>
                                <p>
                                    <button type="button" class="submit btn btn-lg" id="submit">提交评论</button>
                                    <span style="color: #f4645f;margin: 10px;">* 人工审核评论，通过后即可正常显示。</span>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <aside class="col-md-4 sidebar">
                <div th:replace="blog/_fragments :: aside">
                </div>
            </aside>
        </div>
    </div>
</section>

<div class="copyright" th:replace="blog/_fragments :: footer">
</div>

<a id="back-to-top"><i class="glyphicon glyphicon-menu-up"></i></a>
<!--/*/<th:block th:replace="blog/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function reply(obj) {
        let commentId = $(obj).data('commentid');
        let commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentId']").val(commentId);
    }

    $(function () {
        $('#comment-form').bootstrapValidator({
            message: '字段不合法',
            fields: {
                commentator: {
                    validators: {
                        notEmpty: {
                            message: "昵称不能为空",
                        },
                        stringLength: {
                            min: 5,
                            max: 15,
                            message: "昵称长度在5-15之间"
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: "邮箱不能为空"
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: '邮箱的值不合法!'
                        }
                    }
                },
                content: {
                    validators: {
                        notEmpty: {
                            message: "内容不能为空"
                        }
                    }
                }
            },
        })
    })

    $('#submit').click(function () {
        let form = $('#comment-form');
        form.data("bootstrapValidator").resetForm();
        form.data("bootstrapValidator").validate();
        form.bootstrapValidator('validate');
        if (form.data('bootstrapValidator').isValid()) {
            $.ajax({
                url: "/message/save",
                method: 'POST',
                data: form.serialize(),
                success: function (data) {
                    if (data.code === 200) {
                        Swal.fire({
                            title: data.message,
                            icon: "success",
                        })
                        location.reload();
                    } else if (data.code === 400) {
                        $('#comment-form').trigger('reset');
                        $('#showMessage').innerText = data.message;
                    }
                }
            })
        }
    })
</script>
</body>
</html>
