<!DOCTYPE HTML>
<html class="no-js" lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/_fragments :: head(~{::title})">
    <title>DedSec's Blog</title>
</head>

<body class="home-template">
<!--导航-->
<nav th:insert="blog/_fragments :: navigation('index')" class="main-navigation">
</nav>

<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article id="top-article" class="post top-article">
                    <div class="featured" title="置顶文章">
                        <i class="glyphicon glyphicon-bookmark"></i>
                    </div>

                    <!-- 置顶文章列表 -->
                    <div class="top-article-body">
                        <div class="top-article-slide">
                            <ul class="top-article-slide-list js-slide-list">
                                <li class="" th:each="topArticle : ${topArticles}"
                                    th:if="${not #lists.isEmpty(topArticles)}"><span><a
                                        href="archives/692/index.html" th:text="${topArticle.title}"
                                        th:href="@{/article/{id}(id=${topArticle.id})}">《一个简单的ESP8266WiFi时钟》</a></span><span
                                        style="color: #959595;"
                                        th:text="${#dates.format(topArticle.updateTime, 'yyyy-MM-dd')}">（2019年12月29日）</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <!-- 文章列表 -->
                <article id="2810" class="post" th:each="article : ${articleList.list}"
                         th:if="${not #lists.isEmpty(articleList)}">
                    <div class="post-head">
                        <h1 class="post-title"><a href="archives/2810/index.html" th:text="${article.title}"
                                                  th:href="@{/article/{id}(id=${article.id})}">Electron
                            实现部分窗体挂代理来方便调试</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<span style="color: #9c3328"
                                                          th:text="${article.author}">dingzd</span></span>
                            <time class="post-date" datetime="2021-04-05T10:48:00+08:00"
                                  th:datetime="${article.updateTime}" title="2021年04月05日"
                                  th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd')}">
                                时间：2021年04月05日
                            </time>
                            <span class="author">分类：<a
                                    th:href="@{/category(id=${article.category.id})}"
                                    th:text="${article.category.name}">笔记</a></span>
                        </div>
                        <div class="post-border"></div>
                    </div>
                    <div class="post-content">
                        <div>
                            <img th:src="${article.cover}" alt="">
                        </div>
                        <p style="margin-top: 10px" th:text="${article.introduce}"></p>
                        <footer class="post-footer clearfix">
                            <div class="pull-left tag-list">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <a th:href="@{/tag/{id}(id=${tag.id})}" th:each="tag : ${article.tags}"
                                   th:text="${tag.name}">JavaScript</a>
                            </div>
                            <div class="pull-right post-permalink">
                                <a href="archives/2810/index.html#comments" class="btn btn-default"
                                   th:href="@{/article/{id}(id=${article.id})}">继续阅读</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <nav class="pagination" role="navigation">
                    <a class="prev" href="https://www.idzd.top/page/1/" th:if="${articleList.isHasPreviousPage()}"
                       th:href="@{/(page=${articleList.getPrePage()})}">

                        <span aria-label="Previous" class="newer-posts">
                            <i class="glyphicon glyphicon-menu-left"></i>
                        </span>
                    </a>
                    <span class="page-number">
                        第 <span th:text="${articleList.getPageNum()}"></span> 页 / 共
                        <span th:text="${articleList.getPages()}"></span>  页</span>
                    <a class="next" th:href="@{/(page=${articleList.getNextPage()})}" href="page/2/index.html"
                       th:if="${articleList.isHasNextPage()}">
                        <span aria-label="Next" class="older-posts"><i
                                class="glyphicon glyphicon-menu-right"></i></span>
                    </a>
                </nav>
            </main>


            <!-- 右侧 -->
            <aside class="col-md-4 sidebar">
                <div th:replace="blog/_fragments :: aside">
                </div>
            </aside>
        </div>
    </div>
</section>

<div th:replace="blog/_fragments :: footer" class="copyright">
</div>

<a id="back-to-top"><i class="glyphicon glyphicon-menu-up"></i></a>
<!--/*/<th:block th:replace="blog/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>

</html>