<!DOCTYPE HTML>
<html class="no-js" lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/_fragments :: head(~{::title})">
    <title>标签列表</title>
</head>
<link th:href="@{/blog/css/tagcloud.css}" rel="stylesheet" type="text/css"/>
<script id="bfwone" data="dep=jquery.17&err=0" type="text/javascript"
        th:src="@{/blog/js/bfwone.js}"></script>
<script src="http://repo.bfw.wiki/bfwrepo/js/tagcloud.js"></script>
<script type="text/javascript">
    bready(function () {
        use(["tagcloud", "tagcloud"], function () {
            tagcloud({
                selector: ".tagcloud",
                fontsize: 14,
                radius: 80,
                mspeed: "normal",
                ispeed: "normal",
                direction: 180,
                keep: false
            });
        });
    });
</script>
<body class="home-template">
<nav class="main-navigation" th:replace="blog/_fragments :: navigation('tags')">
</nav>

<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">

                <!-- 标签云 -->
                <div class="post" style="background: transparent;">
                    <div style="height: 50vh;">
                        <div class="tagcloud" style="visibility: visible;width: 100%;height: 100%;">
                            <a th:text="${tag.name}" th:href="@{/tag(id=${tag.id})}" th:each="tag : ${tags}"
                               th:if="${not #lists.isEmpty(tags)}"></a>
                        </div>
                    </div>
                </div>

                <article id="2810" class="post" th:each=" article : ${articles.getList()}"
                         th:if="${not #lists.isEmpty(articles)}">
                    <div class="post-head">
                        <h1 class="post-title"><a th:href="@{/article/{id}(id=${article.id})}"
                                                  th:text="${article.title}"></a>
                        </h1>
                        <div class="post-meta">
                            <span class="author">作者：[[${article.author}]] </span>
                            <time class="post-date" title="2021年04月05日">
                                时间：[[${#dates.year(article.publishTime)}]]年[[${#dates.month(article.publishTime)}]]月[[${#dates.day(article.publishTime)}]]日
                            </time>
                            <span class="author">分类：<a th:text="${article.category.name}"
                                                       th:href="@{/category(id=${article.category.id})}">笔记</a></span>
                        </div>
                        <div class="post-border"></div>
                    </div>
                    <div class="post-content">
                        <div>
                            <img th:src="${article.cover}" alt="">
                        </div>
                        <p class="m-tb-10" th:text="${article.introduce}"></p>
                        <footer class="post-footer clearfix">
                            <div class="pull-left tag-list">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <a th:href="@{/tag(id=${tag.id})}" th:each="tag : ${article.tags}"
                                   th:text="${tag.name}">JavaScript</a>
                            </div>
                            <div class="pull-right post-permalink">
                                <a class="btn btn-default"
                                   th:href="@{/article/{id}(id=${article.id})}">继续阅读</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <!-- 分页 -->
                <nav class="pagination" role="navigation">
                    <a class="prev" href="https://www.idzd.top/page/1/" th:if="${articles.isHasPreviousPage()}"
                       th:href="@{/tag(page=${articles.getPrePage()})}">
                        <span aria-label="Previous" class="newer-posts">
                            <i class="glyphicon glyphicon-menu-left"></i>
                        </span>
                    </a>
                    <span class="page-number">
                        第 <span th:text="${articles.getPageNum()}"></span> 页 / 共
                        <span th:if="${articles.pages}">
                            <span th:text="${articles.getPages()}"></span> 页
                        </span>
                        <span th:unless="${articles.pages}">
                            1 页
                        </span>
                    </span>
                    <a class="next" th:href="@{/tag(page=${articles.getNextPage()})}"
                       th:if="${articles.isHasNextPage()}">
                        <span aria-label="Next" class="older-posts"><i
                                class="glyphicon glyphicon-menu-right"></i></span>
                    </a>
                </nav>
            </main>
            <aside class="col-md-4 sidebar">
                <div th:replace="blog/_fragments :: aside">
                </div>
            </aside>
        </div>
    </div>
</section>

<div class="copyright" th:replace="blog/_fragments :: footer">
</div>

<a id="back-to-top"><i class="glyphicon glyphicon-menu-up"></i></a>
<!--/*/<th:block th:replace="blog/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>
