<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="admin/_fragments :: adminHead(~{::title})">
    <title>添加友链</title>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">


        <!--
        侧边栏
        -->
        <div th:insert="@{admin/leftSide} :: LeftSide('link')">

        </div>

        <!--
        顶部头部
        -->
        <div th:insert="@{admin/header} :: Header">

        </div>


        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <hr>
                                <form class="site-form" id="add_link">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="name">请输入友链名字</label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                       placeholder="请输入友链名字"/>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="url">请输入友链链接</label>
                                                <input type="text" class="form-control" name="url" id="url"
                                                       placeholder="输入友情链接">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="avatar">请输入友链头像url</label>
                                                <input type="url" class="form-control" name="avatar" id="avatar"
                                                       placeholder="请输入友链头像">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="description">请输入友情链接描述</label>
                                                <textarea placeholder="请输入友情链接描述" class="form-control" id="description"
                                                          rows="10"
                                                          name="description">
                                        </textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <button type="button" class="btn btn-primary" id="save">保存</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--/*/<th:block th:replace="admin/_fragments :: adminScript">/*/-->
<!--/*/</th:block>/*/-->
<script type="text/javascript" th:inline="javascript">
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    $('#save').click(function () {
        $.ajax({
            url: contextPath + "/admin/links/add",
            type: "POST",
            data: $('.site-form').serialize(),
            success: function (data) {
                Swal.fire({
                    title: data.message,
                    icon: "success"
                })
                setTimeout(function () {
                }, 3000);
                window.location.href = contextPath + "/admin/links";
            }
        })
    });
</script>
</body>
</html>