<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root2z.dao.ArticleCategoryMapper">
    <resultMap id="BaseResultMap" type="com.root2z.model.entity.ArticleCategory">
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from article_category
        where article_id = #{articleId,jdbcType=INTEGER}
          and category_id = #{categoryId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.root2z.model.entity.ArticleCategory">
        insert into article_category (article_id, category_id)
        values (#{articleId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.root2z.model.entity.ArticleCategory">
        insert into article_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        delete
        from article_category
        where article_id = #{articleId,jdbcType=INTEGER}
    </delete>
</mapper>