<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root2z.dao.FriendMapper">
    <resultMap id="BaseResultMap" type="com.root2z.model.entity.Friend">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, url, avatar, description
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from friend
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from friend
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.root2z.model.entity.Friend">
        insert into friend (id, name, url,
                            avatar, description)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{avatar,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.root2z.model.entity.Friend">
        insert into friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.root2z.model.entity.Friend">
        update friend
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.root2z.model.entity.Friend">
        update friend
        set name        = #{name,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR},
            avatar      = #{avatar,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="totalCount" resultType="java.lang.Integer">
        select count(*)
        from friend
    </select>

    <!--
    查找所有的友情链接
    -->
    <select id="findAll" resultType="com.root2z.model.entity.Friend">
        select
        <include refid="Base_Column_List"/>
        from friend
        order by id asc
    </select>
</mapper>